.ellipse {
  background: linear-gradient(324.93deg, #0f70da 0.74%, #007aff 100%);
}
.design {
  background: linear-gradient(324.93deg, #007aff 0.74%, #0f70da 100%);
}

/* Hide the default placeholder text */
#input::-webkit-input-placeholder {
  visibility: hidden !important;
}

#input:-moz-placeholder {
  visibility: hidden !important;
}

#input::-moz-placeholder {
  visibility: hidden !important;
}

#input:-ms-input-placeholder {
  visibility: hidden !important;
}
